<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Oceanarium Feed</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css"/>
    <link th:rel="stylesheet" th:href="@{/css/styles.css} "/>

    <style>
        /*body {*/
        /*    background: linear-gradient(to bottom, #7dbbe6, #009ffd); !* Adjust the color values as needed *!*/
        /*    font-family: 'Arial', sans-serif;*/
        /*    padding-top: 50px;*/
        /*}*/
        .container-feed {
            background: white;
            width: 90%;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0,0,0,.1);
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
        }
        h1 {
            color: #007bff;
            margin-bottom: 30px;
        }
        .table thead th {
            border-top: none;
        }
        .header-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header-actions .btn {
            margin-right: 10px;
        }
        .actions-cell {
            text-align: right; /* Align the action buttons and input to the right */
        }
        .quantity-input {
            width: 100px; /* Set a fixed width for the quantity input */
            margin-right: 10px; /* Add some spacing between the input and the buttons */
            display: inline-block; /* Ensure the input displays inline with the buttons */
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-white bg-white static-top">
    <div class="container mx-2 text-dark w-100 mw-100" style="font-weight: 500">
        <a class="navbar-brand dark mx-5" href="/">
            <div class="flex justify-content-center">
                <img th:src="@{/img/logo.png}" alt="Oceanarium Logo" height="50"/>
                <span class="font-weight-bold text-dark!">Oceanarium</span>
            </div>
        </a>
        <button class="navbar-toggler" style="background-color: #cccccc" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                </svg>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold"  href="#">Main
                        <span class="sr-only" >(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employees}">Employees</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b><th:block th:text="${username}"></th:block></b></a>
                </li>

                <li>
                    <form method="post" th:action="@{/logout}">

                        <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="ticket-form-container animated fadeInUp">
                <div class="ticket-form-header">
                    <div class="icon-container">
                        <i class="fas fa-seedling"></i>
                    </div>
                    <h2>Add New Employee</h2>
                    <p>Fill in the details to add a new employee</p>
                </div>
                <form action="/addNewUserAction" method="get" class="needs-validation" novalidate>
                    <div class="form-label-group">
                        <input type="text" id="imie" name="imie" class="form-control" required>
                        <label for="imie">First Name</label>
                        <div class="invalid-feedback">First name is required.</div>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="nazwisko" name="nazwisko" class="form-control" required>
                        <label for="nazwisko">Last Name</label>
                        <div class="invalid-feedback">Last name is required.</div>
                    </div>
                    <div class="form-label-group">
                        <select id="plec" name="plec" class="form-control" required>
                            <option value="">Select Gender...</option>
                            <option value="M">Male</option>
                            <option value="K">Female</option>
                        </select>
                        <label for="plec">Gender</label>
                        <div class="invalid-feedback">Gender is required.</div>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="pesel" name="pesel" class="form-control" required>
                        <label for="pesel">PESEL</label>
                        <div class="invalid-feedback">PESEL is required.</div>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="nrTelefonu" name="nrTelefonu" class="form-control" required>
                        <label for="nrTelefonu">Phone Number</label>
                        <div class="invalid-feedback">Phone number is required.</div>
                    </div>
                    <div class="form-label-group">
                        <input type="email" id="email" name="email" class="form-control" required>
                        <label for="email">Email</label>
                        <div class="invalid-feedback">Email is required.</div>
                    </div>
                    <div class="form-label-group">
                        <input type="date" id="dataUrodzenia" name="dataUrodzenia" class="form-control" required>
                        <label for="dataUrodzenia">Date of Birth</label>
                        <div class="invalid-feedback">Date of birth is required.</div>
                    </div>
                    <div class="form-label-group">
                        <label for="prawoJazdy">Driver's License</label>
                        <select id="prawoJazdy" name="prawoJazdy" class="form-control" required>
                            <option value="">Select...</option>
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                        </select>
                        <div class="invalid-feedback">Please select an option.</div>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="miasto" name="miasto" class="form-control" required>
                        <label for="miasto">City</label>
                        <div class="invalid-feedback">City is required.</div>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="ulica" name="ulica" class="form-control" required>
                        <label for="ulica">Street</label>
                        <div class="invalid-feedback">Street is required.</div>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="numerDomu" name="numerDomu" class="form-control" required>
                        <label for="numerDomu">House Number</label>
                        <div class="invalid-feedback">House number is required.</div>
                    </div>

                    <button type="submit" class="btn btn-ticket btn-block">Add Employee</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayHighlight: true,
            startDate: new Date() // Ustawia dzisiejszą datę jako najwcześniejszą możliwą do wyboru
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/producers')
            .then(response => response.json())
            .then(data => {
                let dropdown = document.getElementById('IDProducenta');
                data.forEach(producent => {
                    let option = document.createElement('option');
                    option.value = producent.idProducenta; // Zakładamy, że producent ma pole 'id'
                    option.textContent = producent.nazwaProducenta; // i pole 'nazwa'
                    dropdown.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    });


</script>

</body>
</html>