<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Main User Page</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link th:rel="stylesheet" th:href="@{/css/styles.css} "/>

  <style>
    body {
      background-color: #f8f9fa; /* Light gray background */
    }

    .navbar {
      background-color: #ffffff; /* White background for the navbar */
    }

    .navbar-brand img {
      margin-right: 10px; /* Adjust the margin as needed */
    }

    .table-container {
      margin-top: 50px; /* Adjust the margin as needed */
      background-color: #ffffff; /* White background for the table */
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px; /* Adjust the margin as needed */
    }

    th, td {
      border: 1px solid #dee2e6;
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: #007bff; /* Blue header background */
      color: #ffffff; /* White text for header */
    }

    .modal-content {
      border-radius: 10px;
    }
  </style>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-white bg-white static-top">
  <div class="container mx-2 text-dark w-100 mw-100" style="font-weight: 500">
    <a class="navbar-brand dark mx-5" href="/">
      <div class="flex justify-content-center">
        <img th:src="@{/img/logo.png}" alt="Oceanarium Logo" height="50"/> <!-- Adjust the height as needed -->
        <span class="font-weight-bold text-dark!">Oceanarium</span>
      </div>
    </a>
    <button class="navbar-toggler" style="background-color: #cccccc" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/></svg>
            </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">




        <li class="nav-item">
          <a class="nav-link" th:href="@{/main_user}">Main</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link font-weight-bold"  href="#">Aquariums
            <span class="sr-only" >(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/feed}">Feed</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b><th:block th:text="${username}"></th:block></b></a>
        </li>

        <li>
          <form method="post" th:action="@{/logout}">

            <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Logout
            </button>
          </form>
        </li>

      </ul>
    </div>
  </div>
</nav>



<div class="container-fluid table-container mx-auto w-75">
  <h1 class="text-center">Akwaria</h1>

  <table>
    <thead>
    <tr class="table-header">
      <th>ID</th>
      <th>Volume [liters]</th>
      <th>Temperature</th>
      <th>Salinity</th>
      <th>Pressure</th>
      <th>Number of fish</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="akwarium : ${akwaria}">
      <td th:text="${akwarium.idAkwarium}">id_akwarium</td>
      <td th:text="${akwarium.temperatura}">id_akwarium</td>
      <td th:text="${akwarium.pojemnosc}">pojemnosc</td>
      <td th:text="${akwarium.zasolenie}">zasolenie</td>
      <td th:text="${akwarium.cisnienie}">cisnienie</td>
      <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="'#modal' + ${akwarium.idAkwarium}">
        <span th:text="${akwarium.ileRyb}"></span> ryb
      </button></td>

    </tr>
    </tbody>

  </table>

</div>

<!-- Modal dla danych o rybach -->
<div th:each="akwarium : ${akwaria}" th:id="'modal' + ${akwarium.idAkwarium}" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="max-width: 90%" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Szczegóły ryb</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table border="1" cellpadding="10">
          <thead>
          <tr class="table-header">
            <th>ID Zwierzęcia</th>
            <th>Waga</th>
            <th>Zapotrzebowanie Kaloryczne</th>
            <th>Kolor</th>
            <th>Płeć</th>
            <th>Wiek</th>
            <th>Nazwa Polska</th>
            <th>Nazwa Łacińska</th>
            <th>Rodzaj</th>
            <th>Rodzina</th>
            <th>Rząd</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="ryba : ${akwarium.zwierzeta}">
            <td th:text="${ryba.idZwierzecia}"></td>
            <td th:text="${ryba.waga}"></td>
            <td th:text="${ryba.zapotrzebowanieKaloryczne}"></td>
            <td th:text="${ryba.kolor}"></td>
            <td th:text="${ryba.plec}"></td>
            <td th:text="${ryba.wiek}"></td>
            <td th:text="${ryba.nazwaPolska}"></td>
            <td th:text="${ryba.nazwaLacinska}"></td>
            <td th:text="${ryba.rodzaj}"></td>
            <td th:text="${ryba.rodzina}"></td>
            <td th:text="${ryba.rzad}"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>
