body {
    background: linear-gradient(135deg, #c3ecf2, #6ec6f0);
    font-family: 'Arial', sans-serif;
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}
.login-panel {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
}
.form-control {
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1rem;
}
/*.btn-primary {*/
/*    border: none;*/
/*    border-radius: 10px;*/
/*    padding: 0.75rem 1.5rem;*/
/*    font-size: 1rem;*/
/*    background-image: linear-gradient(45deg, #4ca1af, #c4e0e5);*/
/*    transition: background-image 0.3s ease;*/
/*}*/
.btn-primary:hover {
    background-image: linear-gradient(45deg, #3a919b, #b8d9df);
}
.login-form-header {
    text-align: center;
    margin-bottom: 2rem;
}
.login-form-header h2 {
    font-size: 2rem;
    color: #333;
}
.login-form-header p {
    color: #666;
}
a{
    color: #1d1d1d;
}
a.spin:hover{
    -webkit-transform: rotate(0deg);
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
a.dark:hover{
    color: #1d1d1d
}

@media (max-width: 991px) {
    a{
        -webkit-transform: none ;
    }

}
.show a:hover{
    -webkit-transform: none ;
}

 body {
     background: #0056b3; /* Deep blue */
     animation: breathingBackground 3s ease-in-out infinite alternate;
 }

.ticket-form-container {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.ticket-form-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.ticket-form-header {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
}

.ticket-form-header .icon-container {
    background: #17a2b8;
    color: white;
    border-radius: 50%;
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.form-label-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-label-group input {
    border-radius: 10px;
}

.form-label-group label {
    position: absolute;
    left: 15px;
    top: -15px; /* Zawsze na górze */
    cursor: text;
    transition: all 0.2s ease;
    color: #17a2b8;
    background: white; /* Tło, aby uniknąć nakładania się tekstu na input */
    padding: 0 5px;
    font-size: 0.75rem; /* Mniejszy rozmiar fontu */
}

.form-label-group input:focus ~ label,
.form-label-group input:not(:placeholder-shown) ~ label {
    font-size: 0.75rem;
    top: -15px;
    left: 15px;
    background: white;
    padding: 0 5px;
    color: #17a2b8;
}

.form-label-group input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
}

.form-label-group select {
    border-radius: 10px;
    -webkit-appearance: none; /* Wyłącza domyślny wygląd dla Webkit/Blink */
    -moz-appearance: none;    /* Wyłącza domyślny wygląd dla Firefox */
    appearance: none;         /* Przyszłościowe: wyłącza domyślny wygląd dla potencjalnie wszystkich przeglądarek */
}

.form-label-group select:focus ~ label,
.form-label-group select:not([value='']):valid ~ label {
    font-size: 0.75rem;
    top: -15px;
    left: 15px;
    background: white;
    padding: 0 5px;
    color: #17a2b8;
}

.btn-ticket {
    border-radius: 20px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: white;
    background-color: #17a2b8;
    border-color: #17a2b8;
    transition: all 0.2s ease;
}

.btn-ticket:hover {
    background-color: #138496;
    border-color: #117a8b;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.was-validated .form-control:invalid ~ .invalid-feedback {
    display: block;
}

.was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
@keyframes breathingBackground {
    0% {
        background-color: #0056b3; /* Deep blue */
    }
    100% {
        background-color: #009ffd; /* Light blue */
    }
}
.ticket-form-container {
}

