<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login Page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/styles.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-white bg-white static-top">
    <div class="container !text-dark" style="font-weight: 500">
        <a class="navbar-brand dark" href="/">
            <div class="flex justify-content-center">
                <img th:src="@{/img/logo.png}" alt="Oceanarium Logo" height="50"/> <!-- Adjust the height as needed -->
                <span class="font-weight-bold text-dark!">Oceanarium</span>
            </div>
        </a>
        <button class="navbar-toggler" style="background-color: #cccccc" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/></svg>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link spin" th:href="@{/index}">About us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link spin" th:href="@{/tickets}">Buy tickets</a>
                </li>
                <li class="nav-item active font-weight-bold">
                    <a class="nav-link spin" th:href="@{/login}">Login
                        <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 login-panel">
            <div class="login-form-header">
                <h2>Welcome Back</h2>
                <p>Please enter your login details</p>
            </div>
            <form method="post" th:action="@{/login}">
                <div class="form-group">
                    <input id="login" type="text" placeholder="Login" autocomplete="off" class="form-control" name="username"/>
                </div>

                <div class="form-group">
                    <input id="password" type="password" placeholder="Password" autocomplete="off" class="form-control" name="password"/>
                </div>

                <div th:if="${param.error}" style="color: #d9534f; margin-bottom: 15px">
                    Invalid username or password!
                </div>

                <button class="btn btn-primary w-100" type="submit" value="Sign In">Login</button>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>