<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Buy Tickets</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css"/>
  <link th:rel="stylesheet" th:href="@{/css/styles.css} "/>

</head>
<body class="ticket-body">

<nav class="navbar navbar-expand-lg navbar-white bg-white static-top">
  <div class="container mx-2 text-dark w-100 mw-100" style="font-weight: 500">
    <a class="navbar-brand dark mx-5" href="/">
      <div class="flex justify-content-center">
        <img th:src="@{/img/logo.png}" alt="Oceanarium Logo" height="50"/>
        <span class="font-weight-bold text-dark!">Oceanarium</span>
      </div>
    </a>
    <button class="navbar-toggler" style="background-color: #cccccc" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                </svg>
            </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/index}">Main</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link font-weight-bold" href="#">Buy Tickets
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link spin" th:href="@{/login}">Login</a></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <div class="ticket-form-container animated fadeInUp">
        <div class="ticket-form-header">
          <div class="icon-container">
            <i class="fas fa-ticket-alt"></i>
          </div>
          <h2>Success!</h2>
          <p>Your entrance has been booked.</p>
        <h2 class="mx-auto" style="margin-top: 2rem">Your ticket id: <b><th:block th:text="${id}"></th:block></b></h2>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>



</body>
</html>